name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    uses: eeekcct/goreleaser-rust-workflow/.github/workflows/release.yml@d8e7ff9b6861e5154344eebfcd0ad0370491a28d
    with:
      third_party_licenses: true
      license_check: true
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
