name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    uses: eeekcct/goreleaser-rust-workflow/.github/workflows/release.yml@2847aa77997b39a18bacc162d2113165d272a3ee
    with:
      third_party_licenses: true
      license_check: true
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
